<html>
    <head>
        <title>Score four</title>
        <style>
            body{
                margin: 10%;
                text-align: center;
            }
            .canvas{
                width: 120px;
                height: 120px;
                background-color: aliceblue;
                border: solid black
            }
            table{
                margin-left: auto;
                margin-right: auto;
            }

            #currentplayer{
                padding-bottom: 15px;
            }

            input{
                width: 100px;
                height: 50px;
                border-radius: 7px;
                font-size: larger;
            }


            

        </style>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <script>


            

            const socket = io("http://217.71.252.238:3001/")
            
            function joinRoom(){

            }

            socket.on("connect", () => {
                console.log(`Your socket ID: ${socket.id}`)
            })

            socket.on("userjoin", (userarray) => {
                localuserarray = userarray;
            })
            
            socket.on("gamefieldupdate", (servergamefield, socketarray) =>{
                alert("hallo")
                gamefield = servergamefield
                playerarray = socketarray
                checkwin()
            })


            socket.on("view", (servergamefield, servercounter, position) => {
                alert("hallo")    
                enemyturn(position)
                    


                    
                })




            function checkwin(){
            

               // Horizontale Überprüfung 3d
                for(var i=0;i<gamefield.length;i++){
                    
                    
                    for(var x=0; x<gamefield[i].length;x++){
                        var playerlist = [];
                        for(var y=0; y<gamefield[i][x].length;y++){

                            if(gamefield[i][x][y] == player){
                                playerlist.push(player)
                        
                            }
                        }
                        checkPlayerlistLenght(playerlist)

                    }
                

                }


                // horizontale Überprüfung 2d
                for(var ebene = 1; ebene<5; ebene++){
                    for(var i=0; i<gamefield.length;i++){
                        var playerlist = [];
                        for(var x=0; x<gamefield[i].length; x++){
                            if(gamefield[i][x][ebene]==player){
                                playerlist.push(player)
                            }


                        }
                        checkPlayerlistLenght(playerlist)
                    }
                }

                // vertikale Überprüfung 2d

                for(var ebene = 1; ebene<5; ebene++){
                    for(var i=0; i<gamefield.length;i++){
                        var playerlist = [];
                        for(var x=0; x<gamefield[i].length; x++){
                            if(gamefield[x][i][ebene]==player){
                                playerlist.push(player)
                            }


                        }
                        checkPlayerlistLenght(playerlist)
                    }
                }


                // Diagonale Überprüfung von links nach rechts 2d

                for(var ebene = 1; ebene<5; ebene++){
                    var playerlist = []
                    for(var row=0; row<gamefield.length; row++){
                        var cell = row;
                        
                        if(gamefield[row][cell][ebene]==player){
                            playerlist.push(player)
                        }


                        checkPlayerlistLenght(playerlist)

                    }
                }
                


                // Diagonale Überprüfung von rechts nach links 2d
                  
                for(var ebene = 1; ebene<5; ebene++){
                    var playerlist = []
                   
                    for(var row=0, cell=3; row<gamefield.length; row++,cell--){
                        //alert(gamefield[row][cell][ebene])
                        if(gamefield[row][cell][ebene]==player){
                            playerlist.push(player)
                        }


                        checkPlayerlistLenght(playerlist)

                    }
                }


                // horizontale Überprüfung von links nach rechts 3d
     
                    for(var i=0; i<gamefield.length;i++){
                        var playerlist = [];
                        for(var x=0; x<gamefield[i].length; x++){
                            var ebene = x+1
                            if(gamefield[i][x][ebene]==player){
                                playerlist.push(player)
                            }


                        }
                        checkPlayerlistLenght(playerlist)
                    }

                // Horizontale Prüfung von rechts nach links 3d

                    for(var row=0; row<gamefield.length;row++){
                        var playerlist = [];
                        for(var cell=0; cell<gamefield[row].length; cell++){
                            var ebene = (4 - cell)
                            if(gamefield[row][cell][ebene]==player){
                                playerlist.push(player)
                            }


                        }
                        checkPlayerlistLenght(playerlist)
                    }

                // vertikale Überprüfung von oben nach unten 3d

    
                    for(var row=0; row<gamefield.length;row++){
                        var playerlist = [];
                        for(var cell=0; cell<gamefield[row].length; cell++){
                            var ebene = cell + 1
                            if(gamefield[cell][row][ebene]==player){
                                playerlist.push(player)
                            }


                        }
                        checkPlayerlistLenght(playerlist)
                    }

                // vertikale Überprüfung von unten nach oben 3d
    
                for(var row=0; row<gamefield.length;row++){
                    var playerlist = [];
                    for(var cell=0; cell<gamefield[row].length; cell++){
                        var ebene = (4 - cell) 
                        if(gamefield[cell][row][ebene]==player){
                            playerlist.push(player)
                        }


                    }
                    checkPlayerlistLenght(playerlist)
                }

                // Diagonale Überprüfung von oben links nach unten rechts 3d

                    var playerlist = []
                    for(var row=0; row<gamefield.length; row++){
                        var cell = row;
                        var ebene = row+1
                        
                        if(gamefield[row][cell][ebene]==player){
                            playerlist.push(player)
                        }

                        checkPlayerlistLenght(playerlist)

                    }
            
             // Diagonale Überprüfung von unten rechts nach oben links 3d

                    var playerlist = []
                    for(var row=0; row<gamefield.length; row++){
                        var cell = row;
                        var ebene = 4-row
                        
                        if(gamefield[row][cell][ebene]==player){
                            playerlist.push(player)
                        }

                        checkPlayerlistLenght(playerlist)

                    }
                // Diagonale Überprüfung von oben rechts nach unten links 3d

                var playerlist = []
                    for(var row=0; row<gamefield.length; row++){
                        var cell = 3-row
                        var ebene = row+1
                        
                        if(gamefield[row][cell][ebene]==player){
                            playerlist.push(player)
                        }

                        checkPlayerlistLenght(playerlist)

                    }
          
             // Diagonale Überprüfung von unten links nach oben rechts 3d

             var playerlist = []
                    for(var row=0; row<gamefield.length; row++){
                        var cell = 3-row
                        var ebene = 4-row
                        
                        if(gamefield[row][cell][ebene]==player){
                            playerlist.push(player)
                        }

                        if(checkPlayerlistLenght(playerlist)){}

                    }
                return false;
            }




            function checkPlayerlistLenght(playerlist){
                if(playerlist.length==4){
                    alert(player + " Hat das Spiel gewonnen.")
                    
                    wincounter()
                    gameIsOver = true
                    return true
                    
                    
                }
            }


            function wincounter(){
                if(player=="rot"){
                        sessionStorage.wincounter_red =  sessionStorage.wincounter_red + 1

                    }
                if(player=="grün"){
                    
                    sessionStorage.wincounter_green = sessionStorage.wincounter_green + 1

                }

                for(w=0; w<sessionStorage.wincounter_red.length;w++){
                        
                }
                w--
                document.getElementById("stats_red").innerHTML = w;

                for(w=0; w<sessionStorage.wincounter_green.length;w++){
                    
                }
                w--
                document.getElementById("stats_green").innerHTML = w;
            }





            function getIndexOfK(arr, k){
            if (!arr){
                return [];
            }


            for(var i=0; i<arr.length; i++){
                for( var j = 0 ; j < arr[i].length; j ++ ) {
                    var index = arr[i][j].indexOf(k);
                    if (index > -1){
                        return [i, j,index];
                    }        
            }
            }

            }

            function play(position){



                if(gameIsOver){
                    return;
                }


                if(playerarray[playerarray.length-1] == socket.id){
                    alert("it's not your turn!")
                    return;
                }



                if(localuserarray.length<2){
                    alert("wait for user to join your room")
                    return;
                }
                



                var result = getIndexOfK(gamefield, position);
                var positionsum = gamefield[result[0]][result[1]].length              
                var canvas = document.getElementById(position);
                var ctx = canvas.getContext("2d")
                
            
                const img = new Image();
        
                if(positionsum>4){
                    return;
                }


                


                if(counter % 2 == 0){
                    player = "rot";
                    

                    //gamefield[result[0]][result[1]].push(player)
                    img.src = 'cube_red.png';
                    var nextplayer = document.getElementById("playerimg")
                    nextplayer.src = "cube_green.png"
                }else{
                    player = "grün";
                    //socket.emit("model", counter, result, gamefield, player, position)

                    //gamefield[result[0]][result[1]].push(player)
                    img.src = 'cube_green.png';
                    var nextplayer = document.getElementById("playerimg")
                    nextplayer.src = "cube_red.png"
                    
                }






                room = document.getElementById("roomid").value
                if(room.length<1){
                    alert("you need to join a room to play")
                    document.location.reload(true)
                    return;
                
                }



            
                socket.emit("model", counter, result, gamefield, player, position, room)








                






                
                img.onload = draw;

                function draw() {
                
                    const destX = 45;
                    const destY = (90-(positionsum*25));
                    const destWidth = 200;
                    const destHeight = 100;
                    ctx.drawImage(img, destX, destY, destWidth, destHeight);
                    
                }
                
                //checkwin();
                
                
                counter++
 
            }



            function enemyturn(position){




                if(gameIsOver){
                    return;
                }




                var result = getIndexOfK(gamefield, position);
                var positionsum = gamefield[result[0]][result[1]].length              
                var canvas = document.getElementById(position);
                var ctx = canvas.getContext("2d")
                
            
                const img = new Image();
        
                if(positionsum>4){
                    return;
                }


                


                if(counter % 2 == 0){
                    player = "rot";
                    

                    //gamefield[result[0]][result[1]].push(player)
                    img.src = 'cube_red.png';
                    var nextplayer = document.getElementById("playerimg")
                    nextplayer.src = "cube_green.png"
                }else{
                    player = "grün";
                    //socket.emit("model", counter, result, gamefield, player, position)

                    //gamefield[result[0]][result[1]].push(player)
                    img.src = 'cube_green.png';
                    var nextplayer = document.getElementById("playerimg")
                    nextplayer.src = "cube_red.png"
                    
                }


                    




                
                img.onload = draw;

                function draw() {
                
                    const destX = 45;
                    const destY = (90-(positionsum*25));
                    const destWidth = 200;
                    const destHeight = 100;
                    ctx.drawImage(img, destX, destY, destWidth, destHeight);
                    
                }


                
                counter++
                
                

 
            }




            
        </script>
    </head>
    <body>
        <h1>4 GEWINNT 3D</h1>
        <table>
            <tr>
                <td><h3>Player = </h3></td><td id="currentplayer"><img id="playerimg" src="cube_red.png" width="50px" height="50px" alt=""></td>
            </tr>
        </table>
         
        <div id="game">
            <canvas class="canvas" id="c1" onclick="play('c1')"></canvas><canvas class="canvas" id="c2" onclick="play('c2')"></canvas><canvas class="canvas" id="c3" onclick="play('c3')"></canvas><canvas class="canvas" id="c4" onclick="play('c4')"></canvas><br>
            <canvas class="canvas" id="c5" onclick="play('c5')"></canvas><canvas class="canvas" id="c6" onclick="play('c6')"></canvas><canvas class="canvas" id="c7" onclick="play('c7')"></canvas><canvas class="canvas" id="c8" onclick="play('c8')"></canvas><br>
            <canvas class="canvas" id="c9" onclick="play('c9')"></canvas><canvas class="canvas" id="c10" onclick="play('c10')"></canvas><canvas class="canvas" id="c11" onclick="play('c11')"></canvas><canvas class="canvas" id="c12" onclick="play('c12')"></canvas><br>
            <canvas class="canvas" id="c13" onclick="play('c13')"></canvas><canvas class="canvas" id="c14" onclick="play('c14')"></canvas><canvas class="canvas" id="c15" onclick="play('c15')"></canvas><canvas class="canvas" id="c16" onclick="play('c16')"></canvas><br>
        </div>
        <br>
    
        <input type="text" id="roomid" placeholder="room">
        <br>
        <input type="button" value="Restart" onClick="document.location.reload(true)">
        
        
        <p>Wins red: <span id="stats_red"></span> </p>
        <p>Wins green: <span id="stats_green"></span> </p>
    </body>
    <script>
        var room = 0;
        var localuserarray = []
        var playerarray = []
        var gameIsOver = false;
        var player = "";
        var counter = 0;
        var fieldcounter = 0;
        var gamefield = [[['c1'],['c2'],['c3'],['c4']],
                         [['c5'],['c6'],['c7'],['c8']],
                         [['c9'],['c10'],['c11'],['c12']],
                        [['c13'],['c14'],['c15'],['c16']]];


        //local storage



        var stats_red = sessionStorage.getItem("wincounter_red")
        if(!stats_red){
            sessionStorage.setItem("wincounter_red", 0)
            
        }
        //alert(localStorage.getItem("wincounter_red"))

        var stats_green = sessionStorage.getItem("wincounter_green")
        if(!stats_green){
            sessionStorage.setItem("wincounter_green", 0)
        }


       wincounter()
    </script>    
</html>